#header{
    margin: auto;
    width: 100%;
    font-family: Orbitron;
    }
    ul{
    list-style: none;
    }
    .nav li a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 20px 20px;
    display:block;
    }
    .nav li a:hover{
    background-color:#BBBBBB; 
    }
    .nav > li{
    float: left;
    }
    ul{
        list-style: none;
        width: 100%;
        }
        .nav > li{
        float: left;
        width: 20%;
        }